<nav class="erb_contact">

<div class="pinkbar">
  <h1 class="special">Contact: <%= @contact.full_name %></h1>
</div>

<div class="contact-list">
    <ul>
      <li>First Name: <%= @contact.first_name %></li>
      <li>Last Name: <%= @contact.last_name %></li>
      <li>Email: <%= @contact.email %></li>
      <li>Notes: <%= @contact.note %></li>
    </ul>
    <hr>
</div>
</nav>

<form action='/contacts/<%= @contact.id %>/edit' method='get'>
  <input type='submit' value='Edit Contact'>
</form>

<form action='/contacts/<%= @contact.id %>' method='post'>
  <input type='hidden' name='_method' value='delete'>
  <input type='submit' value='Delete'>
</form>
<br>
<form action='/contacts' method='get'>
  <input type='submit' value='Return back to Contacts'>
</form>
